$nothing-bg: #1B1C1D;
$nothing-base: #FDFDFD;
$nothing-muted: rgba(245, 245, 240, 0.55);
$nothing-accent: #E2201F;
$nothing-idle: #3a3a3a;

@import "music-player";
@import "monitor";
@import "nothing-clock";

* {
  all: unset;
}

.clock {
  min-width: 400px;
  min-height: 120px;
  margin: 0;
  padding: 0;
}

.clock-hour,
.clock-divider,
.clock-min {
  font-size: 160px;
  font-family: "Nothing Font (5x7)";
}

.clock-hour {
  color: $nothing-accent;
}

.clock-divider,
.clock-min {
  color: $nothing-base;
}

.clock-day,
.clock-day-n,
.clock-month {
  font-size: 50px;
  font-family: "NType 82";
}

.clock-day-n {
  color: $nothing-accent;
}
