.monitor {
  background-color: $nothing-bg;
  border-radius: 14px;
  padding: 18px 22px;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font"
}

.metric-monitor {
  font-size: 14px;
  color: $nothing-base;
  padding: 0 8px;
  border-radius: 14px;
}

.icon-metric,
.label-metric,
.progress-metric,
.value-metric {
  margin: 0 8px;
}

.icon-metric {
  font-size: 20px;
  margin: 0 15px 0 0;
}

.label-metric {
  font-weight: bold;
}

.progress-metric {
  min-height: 10px;
  color: $nothing-base;
  border-radius: 14px;

  trough {
    background-color: $nothing-muted;
  }

  progress {
    background-color: $nothing-base;
  }
}

.value-metric {
  font-family: "Nothing Font (5x7)";
  color: $nothing-base;
  min-width: 60px;
}

.temp-icon-metric {
  font-size: 20px;
  margin: 0 5px 0 10px;
  color: $nothing-accent;
}

.temp-metric {
  font-family: "Nothing Font (5x7)";
  margin: 0 4px 0 0;
  padding-top: 4px;
}
