@define-color bg-color #1B1C1D;
@define-color gold #D4AF37;
@define-color nothing-base #FDFDFD;
@define-color nothing-accent #E2201F;
@define-color nothing-muted rgba(245, 240, 240, 0.55);

* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  min-height: 0;
  background: none;
}

.modules-center {
  font-weight: bold;
  margin: 0px 10px;
  margin-top: 4px;
  background: @bg-color;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
  
  background-image: linear-gradient(to right, @nothing-accent, @nothing-accent);
  background-size: calc(100% - 18px) 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#clock {
  font-family: "Nothing Font (5x7)";
  font-size: 18px;
  font-weight: bold;
  margin: 0 65px 0 35px;
}

#battery,
#pulseaudio,
#network {
  color: @nothing-muted;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  margin: 0;
  transition: all 150ms ease-in-out;
}

#battery {
  padding-right: 10px;
}

#pulseaudio {
  padding-left: 5px;
}

#network:hover {
  color: @nothing-accent;
}

#custom-weather {
  padding: 4px 24px 4px 14px;
  color: @nothing-muted;
}

#workspaces {
  padding-left: 8px;
  margin-left: 3px;
}

#workspaces button {
  background-color: @nothing-muted;
  border-radius: 999px;
  min-width: 8px;
  min-height: 8px;
  padding: 0;
  border: none;
  margin: 17px 3px;
  transition: all 150ms ease-in-out;
}

#workspaces button label {
  font-size: 0;
  min-height: 0;
}

#workspaces button.active {
  background-color: @nothing-base;
  min-width: 20px;
  min-height: 8px;
  border-radius: 999px;
}
